[flake8]
select=FCN,M511

exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

fcn_exclude_functions =
    LOGGER,
    re,
    json,
    yaml,
    ast,
    logger,
    write,
    os,
    shutil,
    render,
    meta,
    time,
    BeautifulSoup,

enable-extensions =
    FCN,
