---
kind: InstallConfig
apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    aws:
      type: {{ worker_flavor|default("m5.4xlarge", true) }}
      rootVolume:
        size: {{ worker_root_disk_size|default("128", true) }}
  replicas: {{ worker_replicas|default("3", true) }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  name: {{ name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ region }}
publish: External
fips: {{ fips|default("false", true) }}
sshKey: {{ ssh_key }}
pullSecret: '{{ pull_secret }}'
