---
kind: InstallConfig
apiVersion: v1
baseDomain: {{ base-domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform:
    {{ platform }}:
      type: {{ worker-flavor|default("m5.4xlarge", true) }}
      rootVolume:
        size: {{ worker-root-disk-size|default("128", true) }}
  replicas: {{ worker-replicas|default("3", true) }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: 3
metadata:
  name: {{ name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  networkType: OVNKubernetes
  serviceNetwork:
  - 172.30.0.0/16
platform:
  {{ platform }}:
    region: {{ region }}
publish: External
fips: {{ fips|default("false", true) }}
sshKey: {{ ssh-key }}
pullSecret: '{{ pull-secret }}'
